* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

body {
  background-image: url("../img/cart.png"), linear-gradient(to bottom, #fff 0%, #cccccc 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  display: flex;
  min-height: 100vh;
}

div#minimum-stock p,
div#minimum-stock span {
  color: #fff;
  font-weight: 300;
}

p {
  padding-left: 30px;
}

div.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 70px;
}

input#input-products {
  width: 100%;
  height: 70px;
  outline: none;
  padding-left: 30px;
  background-color: #ffffe0;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff, 0 1px 0 #fff;
}

button {
  outline: none;
  border-style: none;
  cursor: pointer;
  height: 70px;
}

button#add-item {
  background-image: url("../img/save.png"), linear-gradient(to bottom, #3498db 0%, #196090 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #3498db;
  width: 150px;
}

button.plus {
  background-image: url("../img/plus.png"), linear-gradient(to bottom, #34495e 0%, #10161c 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #34495e;
  width: calc(100% / 3);
}

button.minus {
  background-image: url("../img/minus.png"), linear-gradient(to bottom, #34495e 0%, #10161c 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #34495e;
  width: calc(100% / 3);
}

button#arrow {
  background-image: url("../img/arrow.png"), linear-gradient(to bottom, #34495e 0%, #10161c 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #34495e;
  flex-grow: 1;
}

button#save-item {
  background-image: url("../img/save.png"), linear-gradient(to bottom, #3498db 0%, #196090 100%);
  background-repeat: no-repeat;
  background-position: 25%;
  background-color: #3498db;
  flex-grow: 3;
  color: #fff;
  line-height: .9;
}

button#trash {
  background-image: url("../img/trash.png"), linear-gradient(to bottom, #34495e 0%, #10161c 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #34495e;
  width: calc(100% / 3);
}

div#add-products,
div#arrow-save-item,
div#trash-plus-minus {
  display: flex;
}

div#minimum-stock {
  display: flex;
  background-image: linear-gradient(to bottom, #34495e 0%, #10161c 100%);
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

div#plus-minus {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

div#add-products-container {
  display: flex;
  flex-direction: column;
}

div#trash-plus-minus {
  display: none;
  position: absolute;
  width: 100%;
}

ul#list-item {
  list-style-type: none;
}

li {
  display: inline-flex;
  padding: 20px 60px 20px 30px;
  cursor: pointer;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #ded8d8;
}
li:hover {
  text-transform: uppercase;
}

.minimum {
  background: linear-gradient(to bottom, #ef3e3e 0%, #b80f0f 100%);
  color: #fff;
}
.minimum:hover {
  background: linear-gradient(to bottom, #e71313 0%, #a00d0d 100%);
}

.stocked {
  background: linear-gradient(to bottom, #ecf0f1 0%, #b1c2c6 100%);
  color: #4a4a4a;
}
.stocked:hover {
  background: linear-gradient(to bottom, #cfd9db 0%, #a3b6bb 100%);
}

li sup {
  font-size: 12px;
  line-height: 0;
  position: relative;
  top: 0em;
  left: .5em;
}

li span {
  margin-left: auto;
}

.fixed {
  position: fixed;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: inherit;
  max-width: 900px;
}

.hidden {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
