$white: #fff;
$blue: #3498db;
$black: #34495e;
$gray: #ecf0f1;
$border-color: #ded8d8;
$red: #ef3e3e;
$font-stocked: #4a4a4a;

$path-rel: "../img";

// MIXINS

@mixin img-replace($img, $position, $color) {
  background-image: url('#{$path-rel}/#{$img}');
  background-repeat: no-repeat;
  background-position: $position;
  background-color: $color;
}

@mixin font-family {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  @include font-family;
}

body {
  @include img-replace("cart.png", center, $white);
  display: flex;
  height: 100vh;
}

div#minimum-stock p,
div#minimum-stock span {
  color: $white;
  font-weight: 300;
}

p {
  padding-left: 30px;
}

div.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 70px;
  //position: relative;
}

input#input-products {
  flex-grow: 2;
  height: 70px;
  outline: none;
  padding-left: 30px;
}

button {
  outline: none;
  border-style: none;
  cursor: pointer;
  height: 70px;
}

button#add-item {
  @include img-replace("save.png", center, $blue);
  flex-grow: 1;
}

button.plus {
  @include img-replace("plus.png", center, $black);
  width: calc(100% / 3);
}

button.minus {
  @include img-replace("minus.png", center, $black);
  width: calc(100% / 3);
}

button#arrow {
  @include img-replace("arrow.png", center, $black);
  flex-grow: 1;
}

button#save-item {
  @include img-replace("save.png", 25% , $blue);
  flex-grow: 3;
  color: $white;
  line-height: .9;
}

button#trash {
  @include img-replace("trash.png", center, $black);
  width: calc(100% / 3);
}

div#add-products,
div#arrow-save-item,
div#trash-plus-minus {
  display: flex;
}

div#minimum-stock {
  display: flex;
  background-color: $black;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

div#plus-minus {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

div#add-products-container {
  display: flex;
  flex-direction: column;
}

div#trash-plus-minus {
  display: none;
  position: absolute;
  //top: 140px;
  width: 100%;
}

ul#list-item {
  list-style-type: none;
  //margin-top: 70px;
}

li {
  display: inline-flex;
  padding: 20px 60px 20px 30px;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid $border-color;
}

.minimum {
  background-color: $red;
  color: $white;
}

.stocked {
  background-color: $gray;
  color: $font-stocked;
}

li sup {
  font-size: 12px;
  line-height: 0;
  position: relative;
  top: 0em;
  left: .5em;
}
 li span {
  margin-left: auto;
 }

.fixed {
  position: fixed;
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
  z-index: 10;
  width: inherit;
  max-width: 900px;
}

.hidden {
  display: none !important;
}
