$black: #000;
$bg-display: #202020;
$bg-button: #d8d8d8;
$bg-button-dark: darken($bg-button, 5%);
$bg-select: #4a90e2;
$bg-select-dark: darken($bg-select, 10%);
$bg-convert: #f98611;
$bg-convert-dark: darken($bg-convert, 10%);
$bg-converted: #27ae60;
$bg-converted-dark: darken($bg-converted, 10%);

@mixin box-shadow {
		transition: .1s;
		box-shadow: inset 1px 1px 30px $bg-display;
		border: 1px solid #cdcccc;
		font-size: 2.3rem;
}

*  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	justify-items: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: #BE93C5;  /* old browsers */  /* Chrome, Safari */
  background: -webkit-linear-gradient(#7BC6CC, #BE93C5);
  background: -o-linear-gradient(#7BC6CC, #BE93C5);
  background: linear-gradient(#7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;

}

.wrap {
	width: 100%;
	max-width: 90%;
	margin: 0 auto;
}

.key{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(70px, 15vh);
}

form {
	background-color: darken($bg-button, 10%);
	padding: 0 10px 10px 10px;
	border-radius: 7px;
	text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
	            0 15px 12px rgba(0, 0, 0, 0.22);
}

span {
	display: block;
	font-size: .9rem;
	letter-spacing: .5rem;
	font-weight: 400;
	padding: 5px;
	color: rgba(0,0,0,0.9);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
             0px -5px 35px rgba(255,255,255,0.3);
}

button,
input[type='text']{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

input[type='text'] {
	width: 100%;
	height: 15vh;
	text-align: right;
	font-size: 2.5rem;
	background-color: $bg-display;
	border-style: none;
	outline: none;
	padding: 30px;
	margin-bottom: 10px;
	box-shadow:inset rgba(0,0,0,1) 0px 1px 4px,
	           inset rgba(225,225,225,0.3) 0px -2px 4px -2px;
	-webkit-box-shadow:inset rgba(0,0,0,1) 0px 1px 4px,
	                   inset rgba(225,225,225,0.3) 0px -2px 4px -2px;
	-moz-box-shadow:inset rgba(0,0,0,1) 0px 1px 4px,
	                inset rgba(225,225,225,0.3) 0px -2px 4px -2px;
  background: -moz-linear-gradient(top, #2b464d 0%, #22373d 100%);
	background: -webkit-linear-gradient(top, #2b464d 0%, #22373d 100%);
	background: linear-gradient(top, #2b464d 0%, #22373d 100%);
	&::placeholder {
		color: #fff;
		opacity: 1;
	}
}

input[type=text].input {
		color: white;
}

input[type=text].result {
	color: $bg-converted;
}

button {
	border-style: none;
	font-size: 3.25rem;
	border:  1px solid darken($bg-button, 10%);
	cursor: pointer;
	outline: none;
}

button.digit,
button.clearMem {
	color: $black;
	background-color: $bg-button;
	transition: .6s;
  &:hover {
    background-color: $bg-button-dark;
  }
	&:active {
		@include box-shadow;
	}
}

button.equal {
	line-height: 1;
	background-repeat: no-repeat;
	background-position: center ;
	transition: .6s;
	&:active {
		@include box-shadow;
	}
}

.select  {
	background-color: $bg-select;
	&:hover {
		background-color: $bg-select-dark;
	}
}

.convert {
	background-color: $bg-convert;
	&:hover {
		background-color: $bg-convert-dark;
	}
}

.converted {
	background-color: $bg-converted;
	&:hover {
		background-color: $bg-converted-dark;
	}
}

.br-us {
	background-image: url(' ../img/us-br.png');
}

.us-br {
	background-image: url(' ../img/br-us.png')
}


@media screen and (max-width: 768px){
	body {
		display: flex;
		justify-content: center;
		vertical-align: center;
	}

	.key {
		display: flex;
		flex-wrap: wrap;
	}

	button {
		width: calc(100% / 3);
		height: 15vh;
	}
}
